.plus1minus1widget {
    padding: 1px 5px;
    font-size: 75%;
    display: inline;
    background: #ccc;
    border: none;
    color: #111;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #ddd;
    }
.plus1minus1widget:active { padding: 1px 5px 2px; }

